$base-yellow: #e9cb25
.eventos
    h4
        display: inline-block
        color: $base-yellow
        border: 1px solid #cccccc
        font-size: 15px
        width: 150px
        padding: 10px
        border-radius: 10px
        text-align: center
    .contenedor-slider
        .slider
            list-style: none
            li 
                img 
                    max-width: 100%
        .paginacion
            list-style: none
