$base-white: #ffffff
$base-yellow: #e9cb25
$base-black: #000000

.conocenos
    background: $base-black
    color: $base-white
    .contenedor
        display: flex
        align-items: center
        .texto
            h4 
                margin: 0
                color: $base-yellow
                border: 1px solid #cccccc
                font-size: 10px
                width: 300px
                padding: 10px
                border-radius: 10px
                text-align: center
            h2 
                span 
                    color: $base-yellow
                    text-decoration: underline
                    font-size: 15
            p 
                font-size: 10px