$base-white: #ffffff
$base-yellow: #e9cb25
$base-black: #000000

header
    height: 750px
    background-image: url(../img/header-background.jpg)
    background-size: cover
    background-position: center
    .contenedor
        width: 90%
        max-width: 1280px
        margin: auto
        .menu
            padding-top: 10px
            display: flex
            justify-content: space-between
            align-items: center
            .logo-menu
                display: flex
                align-items: center
                img
                    width: 100px
                nav
                    ul
                        display: flex
                        li
                            list-style: none
                            margin: 0 20px
                            a
                                text-decoration: none
                                color: $base-white
            .boton
                background: $base-yellow
                border-radius: 3px
                font-size: 12px
                a
                    color: $base-black
                    padding: 20px 40px
                    text-decoration: none
                    line-height: 50px
        .titular
            color: $base-white
            margin-top: 40vh
            h1
                font-size: 30px
                width: 70%
                .amarillo
                    color: $base-yellow
            .social-media
                div
                    display: flex
                    width: 30%
                    justify-content: space-around
                    a
                        width: 13%
                        background: rgba( $base-yellow, 0.7)
                        color: $base-black
                        font-size: 30px
                        margin: 10px
                        padding: 15px
                        text-align: center
                        border-radius: 50%
